<div class="brand-background">
    <div class="container">
        <div class="login-form-container row justify-content-md-center align-items-center">
            <div class="col-md-auto">
                <div class="text-center mb-3">
                    <img src="https://swvl.com/travel/_next/image?url=%2Ftravel%2Fassets%2Fimgs%2Flogo.svg&w=384&q=75" />
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label text-white">Username</label>
                  <input type="text" class="form-control" id="username" aria-describedby="username">
                  <div class="form-text text-white">username that you used during signup.</div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label text-white">Password</label>
                  <input type="password" class="form-control" id="password">
                </div>
                <div class="text-end">
                    <button class="btn btn-outline-light cursor-pointer btn-block" ng-click="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>